body {
  height: 5000px;
}

.up {
  position: fixed;
  bottom: 20px;
  right: -30px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  font-family: Arial, Tahoma;
  cursor: pointer;
  transition: all 0.2s;
}

.up.show {
  right: 10px;
}
